@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");
#menuGrid {
  text-align: center;
  margin: 3em 0;
}

@media (min-width: 760px) {
  #menuGrid {
    display: grid;
    grid-template-columns: 400px 350px;
    grid-template-rows: 410px 410px 410px 410px;
    align-items: center;
    justify-content: center;
    margin: 3em auto;
  }
}

#menuGrid div {
  margin-bottom: 3em;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* font-family: 'Dawning of a New Day', cursive;
font-family: 'Lato', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: 'Lato', sans-serif;
}

.navbar {
  font-size: .8em;
  background-color: #d1dcfd;
  padding-bottom: 10px;
}

.navbar .main-nav {
  list-style-type: none;
  display: none;
}

.navbar .main-nav .currentNav a {
  font-weight: bold;
}

.navbar .main-nav .nav-links {
  text-decoration: none;
  color: #000;
}

@media (min-width: 600px) {
  .navbar .main-nav .nav-links {
    margin-left: 40px;
  }
  .navbar .main-nav .nav-links:hover {
    color: white;
  }
}

@media (min-width: 600px) {
  .navbar .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.navbar li {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 15px;
}

@media (min-width: 600px) {
  .navbar li {
    margin: 0;
  }
}

.navbar a {
  text-decoration: none;
  color: #000;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 10px;
}

.navbar .logo {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 10px;
}

.navbar .logo:hover {
  color: white;
}

.navbar .navbar-toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  color: #000;
  font-size: 24px;
}

@media (min-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .navbar .navbar-toggle {
    display: none;
  }
}

.main-nav.active {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-right: 100px;
}

h1 {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 2.8em;
}

#indexGrid {
  text-align: center;
  padding: 1em;
}

#indexGrid h1 {
  margin-bottom: 1em;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 2.7em;
}

#indexGrid p {
  margin-top: 2em;
}

@media (min-width: 600px) {
  #indexGrid {
    text-align: center;
    padding: 7em;
  }
}

#orderOnline img {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  #orderOnline {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  #orderOnline div {
    padding: 0 2em;
    line-height: 2;
  }
}

#orderOnline button {
  padding: 1.5em 2em;
  font-size: 1em;
  border: solid 1px #949494;
}

#hoursGrid {
  padding: 1em;
}

#hoursGrid h1 {
  text-align: center;
  font-size: 2.7em;
}

#hoursGrid h3 {
  text-align: center;
  font-size: 1.3em;
}

#hoursGrid p {
  line-height: 1.6;
  text-align: center;
}

@media (min-width: 600px) {
  #hoursGrid {
    text-align: left;
    padding-bottom: 7em;
  }
}

@media (min-width: 1000px) {
  #hoursContainer {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 280px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  #hoursContainer div {
    padding: 0 2em;
    line-height: 2;
  }
  #hoursContainer h3 {
    text-align: center;
  }
}

button {
  padding: 1.5em;
  background-color: #dedede;
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

.slider {
  position: relative;
  height: 80vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all .7s ease-in-out .3s;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .content {
    transform: translateY(-300px);
  }
}

.slide:first-child {
  background: url("../images/coffee-01.jpg") no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("../images/coffee-02.jpg") no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url("../images/coffee-03.jpg") no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url("../images/coffee-04.jpg") no-repeat center top/cover;
}

footer {
  text-align: center;
  background-color: #d1dcfd;
  padding: 1.5em;
  display: block;
}

* {
  box-sizing: border-box;
}

input {
  border: solid 1px;
  padding: .2em;
}

label {
  display: block;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.formButton {
  background-color: #dedede;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #949494;
  cursor: pointer;
  width: 100%;
}

#topH1 {
  margin-top: 1.3em;
}

.contact_container {
  width: 90%;
  margin: 2em auto 5em;
  border: 2px solid #ccc;
  padding: 15px;
  line-height: 1.7;
}

@media (min-width: 800px) {
  .contact_container {
    max-width: 800px;
  }
}

.contact_email, .contact_reason, .contact_text {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fieldset1, .fieldset2, .fieldset3 {
  padding: 1em;
  margin: 5px;
}

legend {
  color: #999;
}

.row {
  margin-bottom: .5em;
}

input {
  border: solid 1px #99b8a8;
  padding: .2em;
}

label {
  display: block;
}

input[id="address"] {
  width: 250px;
}

label[for="city"], label[for="state"] {
  display: inline-block;
}

label[for="visa"], label[for="mc"], label[for="amex"] {
  display: inline-block;
}

.checkoutp {
  padding-left: 5px;
}

/* .container {
      width: 90%;
      max-width: 960px;
      margin: 0 auto;
  } */
@media screen and (min-width: 800px) {
  .fieldset3 {
    width: 92.5%;
  }
  .innerfieldset {
    width: 93%;
    margin-top: 15px;
  }
  .fieldset1, .fieldset2 {
    background-color: #FFF;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    float: left;
    width: calc(100% - 56%);
    margin-right: 10px;
    overflow: hidden;
  }
  .clear {
    clear: both;
  }
  .checkoutp {
    padding: 2px;
    max-width: 940px;
    text-align: left;
  }
}
/*# sourceMappingURL=demoCoffee.css.map */