@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;700&display=swap");

/* ==================checkout */
* {
  margin: 0 auto;
}
.fieldset {
  width: 95%;
}
.checkouth1, .checkouth2 {
  text-align: center;
  justify-self: center;
  margin-top:10px ;
  margin-bottom: 10px;
}
  .fieldset1, .fieldset2, .fieldset3 {
    
    padding: 1em;
    margin: 5px;
  }
  legend {
    color: #999;
  }
  .row {
    margin-bottom: .5em;
  }
  .row input {
    border: solid 1px #999;
    padding: .2em;
    
  }
  .row label {
    margin-left: 10px;
    display: block;
  }
  .row #fName, #lName, #address, #zip, #email, #tel, #cardName, #cardNum, #exp, #cvv{
    margin-left: 10px;
    width: 95%;
  }
  
  label[for="city"], label[for="state"] {
      display: inline-block;
  }
  label[for="visa"], label[for="mc"], label[for="amex"] {
    display: inline-block;
    text-align: left;
}
input[id="address"] {
  width: 250px;
}
.innerwrap label {
  margin-left: 10px;
  margin-right: 10px;
}
.innerwrap input {
  margin-left: 10px;
}
.checkoutp {
  padding-left: 5px;
  text-align: left;
}
.fieldset3 .row {
  text-align: left;
  letter-spacing: 1px;
}



  @media screen and (min-width: 600px) {
     body {
       font-size: 18px;;
     }
    .fieldset3 {
      width: 89%;
      margin-left: 15px;
      margin-right: 15px;
    }
    .innerfieldset{
      width: 99%;
      margin-top: 15px;;
    }
    .innerwrap {
      margin-left: 10px;
      margin-right: 10px;
    }
    .checkoutcol {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
    }
    .fieldset1, .fieldset2 {
            background-color:#FFF;
            box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
            float: left;
            width: calc(100% - 50%);
            overflow: hidden;
          }
    .clear {
        clear: both;
         }
    .checkoutp {
         padding: 2px;
         text-align: left;
       }
      .fieldset3 .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  }
  @media screen and (min-width: 760px) {
    .fieldset3 {
      width: 92%;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
  @media screen and (min-width: 960px) {
    .fieldset3 {
      width: 94%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  /* ===============contact page================================================ */
* {
  margin: 0;
  padding: 0;
  max-width: 1024px;
}

 body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  height: 100%;
  font-size: 12px;
  line-height: 2;
  letter-spacing: normal;
 }

.contacth1 {
  text-align: center;

}

.contact_container {
  width: 94%;
  border: 1px solid #ccc;
  margin: 15px 15px;
  padding: 0;
  line-height: 1.7;
}
.contact_container label {
  margin-left: 15px;
  display: inline-block;
  padding-top: 10px;
  margin-right:15px;
  width: 90%;
  justify-content: center;
  justify-self: center;
  
}
.contact_container #fName, #lName, #exampleEmailInput, #exampleRecipientInput, #exampleMessage {
  width: 94%;
  display: inline-block;
  padding: 12px 20px;
  margin-left: 10px;
  margin-top: 5px;
  
  
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contact_email, .contact_reason, .contact_text {
  width: 95%;
  padding: 12px 10px;
  /* display: inline-block; */
  margin: 8px 0;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.example-send-yourself-copy {
  justify-content: center;
  text-align: center;
  margin-left: 20px;
}
@media screen and (min-width: 600px) {

.contact_email, .contact_reason, .contact_text {
  align-content: center;
  width: 95%;
  margin: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.example-send-yourself-copy {
  display : inline-block;
  text-align: center;
}
}

@media screen and (min-width: 760px) {
  .contact_container .button-primary {
   justify-content: center;
   align-content: center;

 }
 .contact_container label {
  margin-left: 15px;
  display: inline-block;
  padding-top: 10px;
  margin-right:15px;
  width: 96%;
  justify-content: center;
  justify-self: center;
 }
}
@media screen and (min-width: 960px) {
  .contact_container .button-primary {
   justify-content: center;
   align-content: center;

 }
 .contact_container label {
  margin-left: 15px;
  display: inline-block;
  padding-top: 10px;
  margin-right:15px;
  width: 97%;
  justify-content: center;
  justify-self: center;
 }
 .example-send-yourself-copy {
  display : inline-block;
  text-align: center;
}
}