@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #99b8a8;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
}
main {
  max-width: 960px;
  width: 90%;
  margin: auto;
  padding: 1em;
  background-color: rgba(255,255,255,.8);
  position: relative;
  overflow: hidden;
}
h1 {
  font-size: 2.8em;
  font-weight: 700;
}
h3 {
  font-size: 2em;
  font-weight: 600;
}
p {
  margin-bottom: 1em;
}
ul {
  margin-left: 2.5em;
}
#col1, #col2 {
  box-sizing: border-box;
}
#col1 {
  width: 75%;
  float: left;
  padding-right: 1em;
}
#col2 {
  width: 25%;
  float: left;
}
#col1 li {
  display: inline-block;
  width: 33%;
}
#gMain img {
  width: 200%;
}
#gMain .info {
  width: 25%;
  margin-left: 2%;
  padding: 4px;
  font-size: 85%;
  line-height: 1.2;
  background-color: #fff;
  border: solid 1px #99b8a8;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  display: none;;
}
ul#description {
  list-style-type: none;
  margin-left: 0;
}

/* form styles
fieldset {
  padding: 1em;
}
legend {
  color: #999;
}
.row {
  margin-bottom: .5em;
}
input, select {
  border: solid 1px #99b8a8;
  padding: .2em;
}
label {
  display: block;
}
input[id="address"] {
  width: 250px;
}
label[for="city"], label[for="state"] {
  display: inline-block;
} */