@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1, * h2 {
  font-family: "Abril Fatface", cursive;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* a {
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.bodyHome {
  line-height: 1.6;
}

.mainHome {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px 0 10px 0;
}

.sectionHome {
  margin: 2em 0 auto;
}

.sectionHome ul {
  list-style-type: none;
}

.sectionHome ul li {
  padding: 10px 0 10px 0;
}

.sectionHome ul li a {
  text-decoration: none;
  color: #1b1343;
  font-weight: bold;
}

.sectionHome ul li a:hover {
  color: #bb3a1e;
}

.sectionHome #whereToStartGrid {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5em;
}

.sectionHome #whereToStartGrid div {
  margin-bottom: 1.5em;
}

.sectionHome #whereToStartGrid a {
  text-decoration: none;
  color: #000;
  font-family: 'Abril Fatface', serif;
}

@media (min-width: 900px) {
  .sectionHome #whereToStartGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 370px 370px;
        grid-template-columns: 370px 370px;
    -ms-grid-rows: 180px 100px;
        grid-template-rows: 180px 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3em;
  }
  .sectionHome #whereToStartGrid div {
    margin: 0 1em;
  }
  .sectionHome #whereToStartGrid #startGrid1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .sectionHome #whereToStartGrid #startGrid2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .sectionHome #whereToStartGrid #startGrid3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.bodyHome h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
}

p {
  font-size: .8em;
}

button {
  color: #fff;
  background-color: #252525;
  padding: 1em 3em;
  font-family: 'Abril Fatface', cursive;
  cursor: pointer;
}

#homeDescription {
  width: 80%;
  margin: 6em auto 0;
  text-align: center;
}

#homeDescription i {
  padding: 5px;
  font-size: 2em;
}

@media (min-width: 900px) {
  #homeDescription {
    width: 80%;
    margin: 8em auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homeDescription p {
    padding-bottom: 10px;
  }
}

#gridDesc {
  width: 85%;
  text-align: center;
  margin: 3em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gridDesc div {
  margin: .7em;
}

#gridDesc h1 {
  text-align: center;
}

@media (min-width: 900px) {
  #gridDesc {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 320px 320px 320px;
        grid-template-columns: 320px 320px 320px;
    -ms-grid-rows: 200px;
        grid-template-rows: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 4em;
  }
  #gridDesc div {
    margin: 0 3em;
  }
}

#componentGrid {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5em;
}

#componentGrid div {
  margin-bottom: 2em;
}

#componentGrid a {
  text-decoration: none;
  color: #000;
  font-family: 'Abril Fatface', serif;
}

@media (min-width: 900px) {
  #componentGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 370px 370px;
        grid-template-columns: 370px 370px;
    -ms-grid-rows: 250px 350px;
        grid-template-rows: 250px 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3em;
  }
  #componentGrid div {
    margin: 0 1em;
  }
  #componentGrid #comp1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #componentGrid #comp2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #componentGrid #comp3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #componentGrid #comp4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

#comp5 {
  width: 90%;
  background-color: #c4bdac;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
  margin-bottom: 4em;
}

#comp5 i {
  font-size: 2em;
}

@media (min-width: 600px) {
  #comp5 {
    width: 80%;
  }
}

#example {
  text-align: center;
}

footer {
  text-align: center;
  background-color: #c4bdac;
  padding: 1.5em;
  color: #fff;
}

.top {
  z-index: 10;
  padding: 1em;
  color: #fff;
  background-color: #252525;
  font-family: 'Abril Fatface', cursive;
  cursor: pointer;
  float: right;
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.maxWidth {
  max-width: 960px;
  margin: 0 auto;
}

.displayCode {
  display: none;
  background-color: #c4bdac;
  margin: 0 10%;
  background-color: #c4bdac;
  margin: 0 10% 0 10%;
}

@media (min-width: 600px) {
  .displayCode {
    display: block;
    margin-bottom: 4em;
  }
}

.navbar {
  font-size: .8em;
  background-color: #c4bdac;
  padding-bottom: 10px;
}

.navbar .main-nav {
  list-style-type: none;
  display: none;
}

.navbar .main-nav .currentNav a {
  color: #000;
}

.navbar .main-nav .nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 600px) {
  .navbar .main-nav .nav-links {
    margin-left: 40px;
  }
  .navbar .main-nav .nav-links:hover {
    color: white;
  }
}

@media (min-width: 600px) {
  .navbar .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.navbar li {
  margin: 15px 30px;
}

@media (min-width: 600px) {
  .navbar li {
    margin: 0;
  }
}

.navbar .logo {
  font-style: bold;
  text-decoration: none;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 10px;
}

.navbar .logo:hover {
  color: white;
}

.navbar .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

@media (min-width: 600px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navbar-toggle {
    display: none;
  }
}

.main-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-right: 100px;
}

.submenu {
  display: none;
}

@media (min-width: 600px) {
  .submenu {
    display: none;
  }
}

.submenu a {
  color: #666;
  font-size: .75em;
}

.submenu a:hover {
  color: #000;
  background-color: #fff;
}

.subflyout:hover {
  position: relative;
}

.subflyout:hover .submenu {
  list-style-type: none;
}

@media (min-width: 600px) {
  .subflyout:hover .submenu {
    position: absolute;
    left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #efeeee;
    color: #1b1343;
  }
}

.subflyout:hover .submenu a {
  padding: 4px;
  text-decoration: none;
}

.subflyout:hover .submenu a:hover {
  color: #fff;
  background-color: #efeeee;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.amenities, .web, .menu, .food {
  padding: 20px;
  margin: 20px;
  border: solid 1px blue;
}

@media only screen and (max-width: 601px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -999px;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  tr:nth-of-type(odd) td {
    border-bottom: 1px solid #fff;
  }
  td:before {
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  td:nth-of-type(1):before {
    content: " ";
  }
  td:nth-of-type(2):before {
    content: "Address:";
  }
  td:nth-of-type(3):before {
    content: "Phone #:";
  }
  td:nth-of-type(4):before {
    content: "Hours of Operation:";
  }
  td:nth-of-type(1) {
    padding-left: 0;
  }
}

@media (min-width: 600px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }
}

@media (min-width: 600px) {
  th, td {
    font-size: 50%;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 85%;
  }
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  th {
    background: #c4bdac;
    color: white;
  }
}

tr:nth-child(odd) {
  background-color: #efeeee;
}

tr:hover {
  color: white;
  background-color: black;
}

td img {
  max-width: 100%;
  height: auto;
}

.col div {
  width: 300px;
}

#search-input {
  margin: 20px 0;
  padding: 10px;
  border: solid 1px #000;
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  float: left;
}

.tableSearchButton {
  border: solid 1px #000;
  background-color: #efeeee;
  padding: 10px 20px;
  float: left;
  margin: 20px 0;
  width: 100px;
  border-radius: 0 4px 4px 0;
  color: #000;
}

.col div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

body {
  margin: 0 auto;
}

#intro {
  margin-top: 1.5em;
  margin: 1.5em 1em 0;
}

#gridContainer {
  text-align: center;
  width: 80%;
}

#gridContainer div {
  background-color: #ededed;
  padding: 1em;
  margin: .7em 0;
}

@media screen and (min-width: 900px) {
  #gridContainer {
    margin: 0 auto;
    margin-bottom: 1.5em;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    -ms-grid-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
        grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  }
  #gridContainer div {
    text-align: center;
    background-color: #ededed;
  }
  #gridContainer .gridItem {
    width: 98%;
  }
  #gridContainer #one1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #gridContainer #one2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2 / span 11;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #gridContainer #two1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #gridContainer #two2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3 / span 10;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #gridContainer #three1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #gridContainer #three2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / span 9;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #gridContainer #four1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  #gridContainer #four2 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / span 8;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  #gridContainer #five1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  #gridContainer #five2 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / span 7;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  #gridContainer #six1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  #gridContainer #six2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / span 6;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  #gridContainer #seven1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
    -ms-grid-row: 7;
    grid-row: 7;
  }
  #gridContainer #seven2 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / span 5;
    -ms-grid-row: 7;
    grid-row: 7;
  }
  #gridContainer #eight1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    -ms-grid-row: 8;
    grid-row: 8;
  }
  #gridContainer #eight2 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / span 4;
    -ms-grid-row: 8;
    grid-row: 8;
  }
  #gridContainer #nine1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / span 9;
    -ms-grid-row: 9;
    grid-row: 9;
  }
  #gridContainer #nine2 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10 / span 3;
    -ms-grid-row: 9;
    grid-row: 9;
  }
  #gridContainer #ten1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 10;
    grid-row: 10;
  }
  #gridContainer #ten2 {
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-column: 11 / span 2;
    -ms-grid-row: 10;
    grid-row: 10;
  }
  #gridContainer #eleven1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / span 11;
    -ms-grid-row: 11;
    grid-row: 11;
  }
  #gridContainer #eleven2 {
    -ms-grid-column: 12;
    -ms-grid-column-span: 1;
    grid-column: 12 / span 1;
    -ms-grid-row: 11;
    grid-row: 11;
  }
}

/* logom form======================================== */
main {
  max-width: 960px;
  width: 90%;
  margin: auto;
  padding: 1em;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

fieldset {
  padding: 1em;
}

legend {
  color: #fff;
}

.row {
  margin-bottom: .5em;
}

input {
  border: solid 1px;
  padding: .2em;
}

label {
  display: block;
}

input[id="address"] {
  width: 250px;
}

label[for="city"], label[for="state"] {
  display: inline-block;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set a style for all buttons */
.formButton {
  background-color: #fff;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: ipx solod gray;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  border: 1px solod gray;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* ===================================================== */
h1 {
  text-align: center;
}

.contact_container {
  width: 90%;
  border: 2px solid #ccc;
  margin: 15px;
  padding: 15px;
  line-height: 1.7;
}

.contact_email, .contact_reason, .contact_text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ==checkout form */
/*form styles*/
* {
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fieldset1, .fieldset2, .fieldset3 {
  padding: 1em;
  margin: 5px;
}

legend {
  color: #999;
}

.row {
  margin-bottom: .5em;
}

input {
  border: solid 1px #99b8a8;
  padding: .2em;
}

label {
  display: block;
}

input[id="address"] {
  width: 250px;
}

label[for="city"], label[for="state"] {
  display: inline-block;
}

label[for="visa"], label[for="mc"], label[for="amex"] {
  display: inline-block;
}

.checkoutp {
  padding-left: 5px;
}

/* .container {
      width: 90%;
      max-width: 960px;
      margin: 0 auto;
  } */
@media screen and (min-width: 800px) {
  .fieldset3 {
    width: 92.5%;
  }
  .innerfieldset {
    width: 93%;
    margin-top: 15px;
  }
  .fieldset1, .fieldset2 {
    background-color: #FFF;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    float: left;
    width: calc(100% - 56%);
    margin-right: 10px;
    overflow: hidden;
  }
  .clear {
    clear: both;
  }
  .checkoutp {
    padding: 2px;
    max-width: 940px;
    text-align: left;
  }
}

/* gift card form */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.giftCardBody {
  background-color: #fff;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

.giftCardBody h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.8em;
  font-weight: 700;
}

.giftCardBody h3 {
  font-size: 2em;
  font-weight: 600;
}

#gCard_main {
  width: 100%;
  border: 1px solid #ccc;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
}

#gCard_col1 {
  width: 100%;
}

#gCard_col2 {
  width: 100%;
  padding-top: 10px;
}

main {
  width: 98%;
  margin: auto;
  /* padding: 1em; */
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow: hidden;
}

.info {
  margin-bottom: 1em;
  width: 90%;
  padding-left: 10px;
}

article {
  margin-top: 15px;
}

#description {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* ================================================ */
@media screen and (min-width: 660px) {
  body {
    width: 100%;
    background-color: #fff;
  }
  .info {
    margin-bottom: 1em;
    width: 90%;
    padding-left: 10px;
  }
  #gCard_col1 {
    width: 100%;
  }
  #gCard_col2 {
    width: 100%;
    padding-top: 10px;
  }
  #gCard_main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
    -ms-grid-rows: 400px 400px;
        grid-template-rows: 400px 400px;
    /* align-items: start; */
    -webkit-box-pack: top;
        -ms-flex-pack: top;
            justify-content: top;
    text-align: center;
    border: solid 1px #ccc;
    padding-top: 20px;
  }
  #description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #ccc;
    padding-top: 15px;
  }
  .gCard_detail {
    list-style: none;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 960px) {
  #gCard_main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px 300px;
        grid-template-columns: 300px 300px 300px;
    -ms-grid-rows: 400px;
        grid-template-rows: 400px;
    /* align-items: start; */
    -webkit-box-pack: top;
        -ms-flex-pack: top;
            justify-content: top;
    text-align: center;
    border: solid 1px #ccc;
    padding-top: 20px;
  }
  #gCard_description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 15px;
  }
  #gCard_col1, #gCard_col2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #gCard_col1 {
    width: 100%;
  }
  #gCard_col2 {
    width: 100%;
    padding-top: 10px;
  }
  .gCard_detail {
    list-style: none;
    margin-left: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #ccc;
  }
}

body {
  overflow-x: hidden;
}

.slider {
  position: relative;
  height: 80vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide.current .content {
  opacity: 1;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  -webkit-transition: all .7s ease-in-out .3s;
  transition: all .7s ease-in-out .3s;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .content {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

.slide:first-child {
  background: url("../images/carousel-01.jpg") no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("../images/carousel-02.jpg") no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url("../images/carousel-03.jpg") no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url("../images/carousel-04.jpg") no-repeat center top/cover;
}

.componentsParallax {
  height: 600px;
  margin: 0;
  font-size: 16px;
  font-family: Verdana,  Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /*
    fixed = parallax
    scroll = normal
    */
}

@media (min-width: 600px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: fixed;
  }
}

.pimg1 {
  background-image: url("../images/farmersMarket.png");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../images/berries.png");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../images/flowers.png");
  min-height: 400px;
}

.componentsParallax section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .trans {
  background-color: transparent;
}

.typography ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.typography ul li h1, .typography ul li h2 {
  text-align: left;
}

.typography ul li h3, .typography ul li h4, .typography ul li h5, .typography ul li h6 {
  padding-top: 5px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=styles.css.map */