/* font-family: 'Dawning of a New Day', cursive;
font-family: 'Lato', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: 'Lato', sans-serif;
}
.navbar {
    font-size: .8em;
    background-color: #d1dcfd;
    padding-bottom: 10px;
    .main-nav {
        list-style-type: none;
        display: none;
        
        .currentNav a {
            font-weight: bold;
        }
        
        .nav-links {
            text-decoration: none;
            color: #000;
            @include break(600px) {
                margin-left: 40px;
                &:hover {
                    color: rgba(255,255,255,1);
                }
            }
           
        }
        @include break(600px) {
               
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    
    li {
        
        //text-align: center;
         margin-top: 15px;
         margin-bottom: 15px;
         margin-left:5px;
         margin-right: 15px;
         @include break(600px) {
             margin: 0;
         }
    }
    a {
        text-decoration: none;
        color: #000;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        @include break {
            margin-top: 0;
        }
    }
    .logo {
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        @include break {
            margin-top: 0;
        }
        &:hover {
            color: rgba(255,255,255,1);
        }
    }
    .navbar-toggle {
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
    }
    @include break(600px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        .navbar-toggle {
            display: none;
        }
    }
}
.main-nav.active {
    display: flex;
    flex-direction: column;
    justify-content: left;
   
    padding-right: 100px;
}
h1 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 2.8em;
}
#indexGrid {
    text-align: center;
    padding: 1em;
    h1 {
        margin-bottom: 1em;
        font-family: 'Dawning of a New Day', cursive;
        font-size: 2.7em;
    }
    p {
        margin-top: 2em;
    }
    @include break (600px) {
        text-align: center;
        padding: 7em;
    }
}
#orderOnline {
    img {
        width: 90%;
        margin: 0 auto;
    }
    @include break (1000px) {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 400px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        div {
            padding: 0 2em;
            line-height: 2;
        }
    }
}
#orderOnline button {
    padding: 1.5em 2em;
    font-size: 1em;
    border: solid 1px #949494;
}
#hoursGrid {
    padding: 1em;
    h1 {
        text-align: center;
        font-size: 2.7em;
    }
    p {
        line-height: 1.6;
        text-align: left;
    }
    @include break (600px) {
        text-align: center;
        padding-bottom: 7em;
    }
}
#hoursContainer {
    @include break (1000px) {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 280px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        div {
            padding: 0 2em;
            line-height: 2;
        }
        h3 {
            text-align: center;
        }
    }
}
button {
    padding: 1.5em;
    background-color: #dedede;
    cursor: pointer;
}
body {
    overflow-x: hidden;
}
.slider {
    position: relative;
    height: 80vh;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slide.current {
    opacity: 1;
    .content {
        opacity: 1;
        transform: translateX(600px);
        transition: all .7s ease-in-out .3s;
    }
}
.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(255,255,255, .8);
    color: #333;
    padding: 35px;
    h1 {
        margin-bottom: 10px;
        font-family: 'Lato', sans-serif;
    }
}
.buttons {
    button#next {
        position: absolute;
        top: 40%;
        right: 15px;
    }
    button#prev {
        position: absolute;
        top: 40%;
        left: 15px;
    }
}
@media(max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }
    .slide.current .content {
        transform: translateY(-300px);
    }
}

.slide:first-child {
    background: url('../../images/coffee-01.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url('../../images/coffee-02.jpg') no-repeat center top/cover;
}
.slide:nth-child(3) {
    background: url('../../images/coffee-03.jpg') no-repeat center top/cover;
}
.slide:nth-child(4) {
    background: url('../../images/coffee-04.jpg') no-repeat center top/cover;
}
footer {
    text-align: center;
    background-color: #d1dcfd;
    padding: 1.5em;
    display: block;
}