#menuGrid {
    text-align: center;
    margin: 3em 0;
    @include break (600px) {
        display: grid;
        grid-template-columns: 400px 350px;
        grid-template-rows: 410px 410px 410px 410px;
        align-items: center;
        justify-content: center;
        margin: 3em auto;
    }
}
#menuGrid div {
    margin-bottom: 3em;
}
@media (max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }
    .slide.current .content {
        transform: translateY(-300px);
    }
}