* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
//FIRST CAROUSEL
.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slide.current {
    opacity: 1;
}
//background images
.slide:first-child {
    background: url('../../images/coffee-01.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url('../../images/coffee-02.jpg') no-repeat center top/cover;
}
.slide:nth-child(3) {
    background: url('../../images/coffee-03.jpg') no-repeat center top/cover;
}
.slide:nth-child(4) {
    background: url('../../images/coffee-04.jpg') no-repeat center top/cover;
}

// SECOND CAROUSEL
.carousel-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}
#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}
#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}