
.navbar {
    font-size: .8em;
    background-color: $dkGray;
    padding-bottom: 10px;
    .main-nav {
        list-style-type: none;
        display: none;
        
        .currentNav a {
            color: #000;
        }
        
        .nav-links {
            text-decoration: none;
            color: rgba(255,255,255, 0.7);
            @include break(600px) {
                margin-left: 40px;
                &:hover {
                    color: rgba(255,255,255,1);
                }
            }
           
        }
        @include break(600px) {
               
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    
    li {
        
       //text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left:5px;
        margin-right: 15px;
        @include break(600px) {
            margin: 0;
        }
    }
    .logo {
        font-style: bold;
        text-decoration: none;
        color: #fff;
        font-family: 'Abril Fatface', cursive;
        display: inline-block;
        font-size: 22px;
        margin-top: 10px;
        margin-left: 20px;
        padding: 5px 10px;
        @include break {
            margin-top: 0;
        }
        &:hover {
            color: rgba(255,255,255,1);
        }
    }
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
    }
    @include break(600px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        .navbar-toggle {
            display: none;
        }
    }
}
.main-nav.active {
    display: flex;
    flex-direction: column;
    justify-content: left;
   
    padding-right: 100px;
    
   
}
.submenu {
    display: none;
    @include break(600px) {
        display: none;
        }

        a {
            color: #666;
        font-size: .75em;
        &:hover {
            color: #000;
            background-color: #fff;
        }
        }
}
.subflyout {
  
    &:hover {
       position: relative;
        .submenu {
            list-style-type: none;
            @include break(600px) {
               position: absolute;
               left: 50px;

               


              display: flex;
                flex-direction: column;
                justify-content: center;
                
               
                
                background-color: $mdGray;
               
                color: $dkBlue;
                  
                }
                
                a {
                   
                    padding: 4px;
                    text-decoration: none;
                    &:hover {
                       color: #fff;
                       background-color: $mdGray;
                    }
                }
        }
    }
}
