.typography {
    h2 {
        text-align: left;
    }
    ul {
        li {
            list-style-type: none;
            padding-top: 10px;
            padding-bottom: 10px;
            h1, h2 {
            text-align: left;
            }
            h3, h4, h5, h6 {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            
        }
    }
}
.mainHome {
    margin: 5em auto;
    padding: 0 2em;
    section {
        h2 {
            text-align: left;
        }
    }
}
.upperCase {
    text-transform: uppercase;
}
.lowerCase {
    text-transform: lowercase;
}

.menu, .amenities, .web {
    ul {
        li {
            list-style-type: none;
            i {
                padding-right: 5px;
            }
        }
    }
}
.buttonStyles, .typography {
    margin-top: 5em;
}
.buttonsOnStyles {
    text-align: center;
    button {
        border: solid 1px #525252;
    }
}
.displayCode {
    margin-top: 3em;
}
.xsmallBtn {
    padding: .4em 1em;
}
.smallBtn {
    padding: .6em 3em;
}
.largeBtn {
    padding: 1.5em 4em;
}
.hoverBtnStyle {
    background-color: rgb(99, 99, 99);
}
.activeBtnStyle {
    background-color: rgb(145, 145, 145);
}
.visitedBtnStyle {
    background-color: rgb(207, 207, 207);
    color: #000;
}