.typography {
    ul {
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            h1, h2 {
            text-align: left;
            }
            h3, h4, h5, h6 {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            
        }
    }
}