.typography {
    h2 {
        text-align: left;
    }
    ul {
        li {
            list-style-type: none;
            padding-top: 10px;
            padding-bottom: 10px;
            h1, h2 {
            text-align: left;
            }
            h3, h4, h5, h6 {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            
        }
    }
}
.mainHome {
    margin: 5em auto;
    padding: 0 2em;
    section {
        h2 {
            text-align: left;
        }
    }
}
.upperCase {
    text-transform: uppercase;
}
.lowerCase {
    text-transform: lowercase;
}

.menu, .amenities, .web {
    ul {
        li {
            list-style-type: none;
            i {
                padding-right: 5px;
            }
        }
    }
}
.buttonStyles, .typography {
    margin-top: 5em;
}