@media only screen and (max-width: 760px) {
    table, thead, tbody, th, td,tr {
        display: block;

    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -999px;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    tr:nth-of-type(odd) td {
        border-bottom: 1px solid #fff;
    }
    td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
    td:nth-of-type(1):before {content: "Address:";}
    td:nth-of-type(2):before {content: "Phone #:";}
    td:nth-of-type(3):before {content: "Hours of Operation:";}
}
td, th {
    @include break(600px) {
        font-size: 50%;
    }
}


table {
    @include break(600px) {
        border-collapse: collapse;
        width: 100%
    }
    
}
th, td {
    @include break(600px) {
        
    
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 85%;
    }
}
th {
    font-weight: bold;
    text-transform: uppercase;
    @include break(600px) {
        background: #333;
        color: white;
    }
}
tr:nth-child(odd){
    background-color: #dddddd;
}
tr:hover {
    color: white;
    background-color: black;
}
