/* ==================================== */
body, html{
    height:100%;
    margin:0;
    font-size: 24px;
    font-weight:400;
    line-height:1.8em;
    color: #666;
    font-family: 'Inria Sans', sans-serif;

}
.pimg1{
  background: url('../images/big1.jpg');
  min-height:100%;
}
.pimg2{
  background: url('../images/dish4.jpg');
  min-height: 400px;
}
.pimg3{
  background: url('../images/redchop.jpeg');
  min-height: 400px;
}
.pimg1, .pimg2, .pimg3{
    position:relative;
    opacity: 0.8; 
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    /* fixed=parallax
    scroll = normal */
    background-attachment: fixed;
}

.section{
    text-align:center;
    padding: 50px 80px;
}
.section-first {
    background-color:#111;
    color: #f4f4f4;
    height: 50px;
    margin-top: 0;
    padding-top:0;
   padding-bottom: 20px;

}
.section-second, .section-third, .section-forth {
    background-color: #f4f4f4;
     /* #282e34; */
    color:#666;
    
}
.ptext{
    font-family: 'Mansalva', cursive;
    position:absolute;
    top:80%;
    width: 100%;
    text-align:right;
    color:#666;
    font-size: 50px;
    font-weight: 800;
    text-shadow: rgb(255, 34, 5) 0.03em 0.03em 0.03em;
    text-emphasis-color:#333;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.ptext .border{
    background-color: #111;
    color:#fff;
    padding: 20px;
}

.suship{
  padding-top: 20px;
  text-align: left;
}
.ptext .border.trans{
   background-color: transparent;
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment:scroll;
    }
}
/* nav ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Mansalva&display=swap');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.navbar {
  width: 100%;
  font-size: 18px;
  /* background-color: red; */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  margin: 0;
  padding-bottom:25px;
  padding: 0;
}

.navbar .main-nav {
  list-style-type: none;
  display: none;
}

.navbar .main-nav .nav-links {
  text-decoration: none;
  color:#fff;
  
}

@media (min-width: 600px) {
  .navbar .main-nav .nav-links {
    margin-left: 40px;
  }
  .navbar .main-nav .nav-links:hover {
    color: white;
  }
}

@media (min-width: 600px) {
  .navbar .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.navbar li {
  text-align: center;
  margin: 15px auto;
  padding-bottom: 15px;
}

@media (min-width: 600px) {
  .navbar li {
    margin: 0;
  }
}

.navbar .logo {
  text-decoration: none;
  color:#fff;
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 15px;
}

.navbar .logo:hover {
  color: white;
}

.navbar .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

@media (min-width: 600px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navbar-toggle {
    display: none;
  }
}

.main-nav.active {
  display: block;
}

.submenu {
  display: none;
}

@media (min-width: 600px) {
  .submenu {
    display: none;
  }
}

.submenu a {
  color: #666;
  font-size: .75em;
}

.submenu a:hover {
  color: #000;
  background-color: #fff;
}

.subflyout:hover .submenu {
  list-style-type: none;
}

@media (min-width: 600px) {
  .subflyout:hover .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: dotted 1px #333;
    z-index: 3;
    background-color: #fff;
    color: #000;
  }
}

/* .subflyout:hover .submenu a {
  margin: 10px;
  padding: 4px;
  text-decoration: none;
} */
/* 
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
} */

/* .amenities, .web, .menu, .food {
  padding: 20px;
  margin: 20px;
  border: solid 1px blue;
} */

.sushifooter{
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height:50px;
    padding-top: 10px;
    padding-bottom:10px;
    background-color: #111;
    color:#fff;
    font-size: 18px;
  /* -webkit-justify-content: center; */
  justify-content: space-between;
  /* -webkit-align-items: center; */
    
}
.social-container {
  margin-right: 10px;
}
.social-container a {

  border: 1px solid #666;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin:0 5px;
  height: 40px;
  width: 40px;
  background-color:#fff; 
}
a.logo {
  color: #fff;
  margin-left: 15px;
}
.logo:hover {
  color: red;
}
/* contact bootstrap jumbo=================================== */

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Mansalva&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.text-center {
   font-family: 'Inria Sans', sans-serif;
}





/* ================================== */
body {
   font-family: 'Inria Sans', sans-serif;
}


/* ==================================================== */
