.bodyMenu {
    color: $black;
    font-size: 1em;
    font-family: 'Inria Sans', sans-serif;
    background-size: cover;
    margin: 0 auto;
    background-color: $black;
    // background: url('../images/big3.jpg') no-repeat;
    background-size: cover;
    h1 {
        color: orangered;
    }
    
} 
  

h1 {
    
    
    text-align: center;

}
.parallax {
    margin-top: 0;
    margin-bottom: 0;
    
    height: 300px;
    color: $black;
    p {
        text-align: center;
        padding: 5%;
       
       
    }
}
.middle {
    background-color: rgba(255, 255, 255, .5);
}
