* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    a {
        cursor: pointer;
    }
}
body {
    font-family: 'Montserrat', sans-serif;
}
.bodyHome {
   
    line-height: 1.6;
    
   
    
}
.mainHome {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0 10px 0;
}
.sectionHome {
    margin: 2em auto;
    ul {
        list-style-type: none;
    li {
        padding: 10px 0 10px 0;
    a {
        text-decoration: none;
        color: $dkBlue;
        font-weight: bold;
    &:hover {
        color: $rust;
        }
        }
    }
    }
    #whereToStartGrid {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5em;
        div {
            margin-bottom: 1.5em;
        }
        a {
            text-decoration: none;
            color: #000;
            font-family: 'Abril Fatface', serif;
        }
        @include break(900px) {
        display: grid;
        grid-template-columns: 370px 370px;
        grid-template-rows: 180px 100px;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
        div {
            margin: 0 1em;
        }
        #startGrid1 {
            grid-column: 1 / span 1;
            grid-row: 1;
        }
        #startGrid2 {
            grid-column: 2 / span 1;
            grid-row: 1;
        }
        #startGrid3 {
            grid-column: 1 / span 2;
            grid-row: 2;
        }
    }
    }
    .displayCode {
        display: none;
        background-color: #c4bdac;
        margin: 0 10%;
        background-color: $dkGray;
        margin: 0 10% 0 10%;
        @include break(600px) {
            display: block;
            margin-bottom: 4em;
        }
    
    }
}
h1 {
    font-family: 'Abril Fatface', cursive;
}
p {
    font-size: .8em;
}
button {
    background-color: #efeeee;
    padding: 1em 3em;
    border: solid 1px #dddbdb;
    font-family: 'Abril Fatface', cursive;
    cursor: pointer;
}
#homeDescription {
    width: 80%;
    margin: 6em auto 0;
    text-align: center;
    i {
        padding: 5px;
        font-size: 2em;
    }
    @include break (900px) {
        width: 80%;
        margin: 8em auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        p { 
            padding-bottom: 10px;
        }
    }
}
#gridDesc {
    width: 85%;
    text-align: center;
    margin: 3em auto;
    div {
        margin: .7em;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
    }
    @include break (900px) {
        display: grid;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: 200px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 4em;
        div {
            margin: 0 3em;
        }
        #example h1 {
            text-align: center;
        }
    }
    }
#componentGrid {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5em;

    div {
        margin-bottom: 2em;
    }
    a {
        text-decoration: none;
        color: #000;
        font-family: 'Abril Fatface', serif;
    }
    @include break(900px) {
    display: grid;
    grid-template-columns: 370px 370px;
    grid-template-rows: 250px 350px 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    text-align: left;
    div {
        margin: 0 1em;
    }
    #comp1 {
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    #comp2 {
        grid-column: 2 / span 1;
        grid-row: 1;
    }
    #comp3 {
        grid-column: 1 / span 1;
        grid-row: 2;
    }
    #comp4 {
        grid-column: 2 / span 1;
        grid-row: 2;
    }
    #comp5 {
        grid-column: 1 / span 2;
        grid-row: 3;
        text-align: center;
    }
}
}
#example {
    text-align: center;
}
footer {
    text-align: center;
    background-color: $dkGray;
    padding: 1.5em;
    color: #fff;
}

.top {
    border: solid 1px $black;
    border-radius: 10px;
    background-color: $mdGray;
    float: right;
    color: $black;
    text-decoration: none;
    width: 100px;
    text-align: center;
}