* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Abril Fatface', cursive;
}
p {
    font-size: .8em;
}
#description {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
    }
    i {
        font-size: 2.5em;
    }
}
button {
    background-color: #efeeee;
    padding: 1em 3em;
    font-family: 'Abril Fatface', cursive;
    cursor: pointer;
}
#gridDesc {
    width: 85%;
    text-align: center;
    margin-bottom: 3em;
    div {
        margin: 2em;
    }
}
#example {
    text-align: center;
}
footer {
    text-align: center;
    background-color: #c4bdac;
    padding: 1.5em;
    color: #fff;
}
@media screen and (min-width: 900px) {
    #gridDesc {
        display: grid;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: 200px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 4em;
        div {
            margin: 0 3em;
        }
    }
    #example h1 {
        text-align: center;
    }
}