@mixin break($args...) { // USE OF IF ELSE
    @if length($args) == 1 {
        @media (min-width: nth($args, 1)) {
        @content;
        }
    }
    @if length($args) == 2 {
        @media  (min-width: nth($args, 1)) and 
                (max-width: nth($args, 2)) {
            @content;
        }
    }
}