// colors and fonts
@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Original+Surfer&family=Salsa&family=Spicy+Rice&display=swap');

$red: #fe4a49;
$blue: #2ab7ca;
$yellow: #fed766;
$grey: #e6e6ea;
$black: #000;
$ltgrey: #f4f4f8;