// colors and fonts

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');



//Framework Colors 
$dkGray: #c4bdac;
$mdGray: #efeeee;

//Beach Towel Color Palette
$red: #fe4a49;
$blue: #2ab7ca;
$yellow: #fed766;
$grey: #e6e6ea;
$black: #000;
$ltgrey: #f4f4f8;
$wasabi: #849137;

//Talavera Color Palette
$mint: #9ec594;
$rust: #bb3a1e;
$ltBlue: #5879b1;
$gold: #deb608;
$dkBlue: #1b1343;